body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #3e3947;
  background-color: white;
}
body, html {
  height: 100%;
}

a {
  color: #3e3947;
  text-decoration: none;
}
img {
  max-width: 100%;
}

.vNav {
    position: fixed;
    top: 35%;
    left: 88%;
    width: 50px;
    z-index: 9999;
    list-style-type: none;
}

.vNav ul {
    position: relative;
    padding-left: 35%;
}

.vNav ul li{
    position: relative;
    padding-bottom: 20px;
    padding-left: 35%;
}

.vNav a{
    display: block;
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 4px solid;
    border-color: navy;
    text-decoration: none;
}

.vNav a:hover{
    border-radius: 50%;
    background-color:white;
    text-decoration: none;
    transform: scale(1.3);
}
.vNav a:hover .label {
	opacity: 1;
}

.vNav a.active{
    border-radius: 50%;
    background-color: navy;
    text-decoration: none;
}

.label {
    position: relative;
    top: -35%;
    left: -250%;
    width: 100%;
    text-align: right;
    font-size: .6em;
    color: navy;
    opacity:0;
    text-transform: uppercase;
}

/* All section style. */
.section {
    width: 100%;
    min-height: 100%;
    position: relative;
}

/* Intro section styles. */
#intro {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: white;
}
.container {
  	font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
  	top: 10%;
  	margin-left: 6%;
	margin-right: 8%;
	left: 0;
	right: 0;
	position: absolute;
	padding: 8%;
	border-radius: 40px;
    border: 10px solid #EA9999;
    box-shadow: 0px 10px #FFE29C, 0px 22px #9DC4FF;
}
.title {
    margin-bottom: 18%;
}
.container.buttons {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
}

.section-shortcut {
	display: inline-block;
    border-radius: 10px;
    width: 120px;
    padding: 1.5% 2% 1.5% 3%;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(146, 196, 125, 0.81);
}

#intro .section-shortcut:hover {
	color: #f2d388;
}

#intro .scroll-down {
  position: absolute;
  bottom: 8%;
  width: 38px;
  height: 44px;
  left: 47%;
  background: url("../img/cd-arrow-bottom.svg");
}

#moon {
	top: -2%;
	left: 10%;
	position: absolute;
}

.stars {
    animation: spin 1.8s linear;
    animation-delay: 1.8s;
}
@keyframes spin {
    50% {
        fill: #f98419;
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Page section styles. */
#about-me {
    background-color: #EA9999;
}

#projects {
    background-color: #DF6664;
}

#translation {
}

/* Project section - Carousel style. */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    background-color:#9DC4FF;
    border-radius: 40px;
    border: 10px solid white;
}

.carousel-item {
    position: relative;
    display: inline-block;
}

.project-picture {
	position: relative;
	width: 30%;
	height: 80%;
	margin: 5% 5% 8% 5%;
	float: left;

}
.project-content {
	position: relative;
	float: right;
	width: 55%;
	height: 350px;
	margin-top: 5%;
	margin-bottom: 8%;
	margin-right: 5%;
}

.project-name {
	width: 70%;
	padding-left: 10px;
	padding-right: 10px;
	right: 20%;
	font-size: 24px;
	color: white;
	font-weight: 700;
	margin-bottom: 8%;
    border-radius: 10px;
    border: 5px solid white;
}

.project-desc-box {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	height: 80%;
	text-transform: uppercase;
	border-radius: 10px;
    border: 5px solid white;
    position: relative;
}

.project-desc {
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
}

/* Styling for the carousel previous button */
#carousel-prev {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 9%;
    top: 80%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    background: none;
}

/* Styling for the carousel next button */
#carousel-next {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5%;
    top: 80%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: none;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Translation section. */
.translation-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
  	top: 15%;
  	margin-left: 6%;
	margin-right: 8%;
	left: 0;
	right: 0;
	position: absolute;
	padding: 10% 0% 25% 0%;
	border-radius: 40px;
    border: 10px solid #EA9999;
    box-shadow: 0px 10px #FFE29C, 0px 22px #9DC4FF;
}
.translation-title .buttons {
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
}

.translation-title .section-shortcut {
	display: inline-block;
    border-radius: 10px;
    width: 120px;
    padding: 1.5% 2% 1.5% 3%;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color:#EA9999;
}

.section-shortcut:hover {
	color: #f2d388;
}